html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

section.homescreen{
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
}
.carousel-container {
    display: flex;
    overflow: hidden;
    width: 100%; /* Set the width and height as needed */
    height: 100vh;
     /* Add perspective for 3D effect */
}

.carousel-inner {
    display: flex;
    height: 100vh;
    
}

.carousel-slide {
    flex: 0 0 100%;
    

}
.carousel-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel-indicators {
    text-align: center;
    margin-top: 10px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.carousel-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    z-index: 1;
    transition: .5s ease-in-out;
}

.carousel-control.prev {
    left: 2%;
    background: none;
    font-size: 45px;
}

.carousel-control.next {
    right: 0%;
    background: none;
    font-size: 45px;
}
.carousel-control:hover{
    color: #D30505;
    transition: .5s ease-in-out;
}
@media (min-width: 501px){
    .carousel-container{
        width: 100%;
        height: 100%;
    }
}
@media (min-width: 501px) and (max-width: 864px){
    
}

@media (min-width: 865px) and (max-width: 1280px){
    
}

/* navbar */
.navbar-section {
    display: flex;
    list-style: none;
    color: black;
    font-size: 18px;
    padding: 0 25px;
    justify-content: space-between;
    align-items: center;
    background-color: #D9F1FF;
    position: sticky;
    /* font-weight: 700; */
    text-transform: capitalize;
    z-index: 10;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.logo img {
    height: 80px;
    width: 188px;
    object-fit: cover;
    object-position: center;

}

.menu-icon {
    display: none;
    width: 50px;
}
.menu-icon img, .menu-close-icon img{   
    width: 100%;
    height: auto;
}
.menu-close-icon {
    display: none;
    max-width: 40px;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    transition: 0.3s ease-out;
}

.nav-container li {
    margin-left: 10px;
}

@media screen and (max-width: 1024px) {
    .navbar-section {
        padding: 10px;
        height: 70px;
    }

    .menu-icon {
        display: block;
    }
}

.nav-container li > a {
   padding-bottom: 10px;
}

.nav-container li a,
.nav-container li a:after,
.nav-container li a:before {
    transition: all .5s;
}

.nav-container li a {
    position: relative;
}

.nav-container li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: red;
    height: 1px;
}

.nav-container li a:hover:after {
    width: 100%;
}

@media screen and (max-width: 1024px) {

    .expanded {
        width: 50% !important;
        padding: 10px;
    }

    #topnav {
        width: 0%;
        transition: width 0.5s ease;
        overflow: hidden;
        /* position: relative; */
        display: block;
        position: fixed;
        /* padding: 10px; */
        z-index: 2;
        right: 0;
        top: 0;
        min-height: 100vh;
        overflow-y: scroll;
        background: #D9F1FF;
        color: var(--black-font);
        transition: width 0.3s ease;
    }

    .nav-container.responsive .menu-close-icon {
        position: absolute;
        top: 0;
    }

    .nav-container li a::after {
        background: none;
    }

    .nav-container li {
        float: none;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 20px;
        margin-left: 20px;
    }
}
@media (max-width:500px) {
    .expanded{
        width: 75% ! important;
    }
}
/* navbar end */

/* nav{
    width: 100%;
    
    height: 80px;
    background: #D9F1FF;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
} */
/* ul{
    padding-right: 20px;
    
}
ul li{
    display: inline-block;
    padding: 10px;
}
ul li a{
    text-decoration: none;
    display: inline-block;
    text-align: right;
    font-weight: 400;
    color: #264067;
    font-size: 18px;
    font-weight: 500;
}
ul li a:hover{
    color: #D30505;
}
nav ul li::after{
    content: '';
    background-color: #D30505;
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    transition: .5s ease-in-out;
}
nav ul li:hover::after{
    width: 100%;  
} */
.enquirybutton{
    width: 150px;
    height: 50px;
    color: white;
    background: #D30505;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 30px;
    border: none;
}
.enquirybutton:hover{
    color: #D30505;
    background: none;
    border: #D30505 1px solid;
}
.enquirybutton:hover{
    background-color: none; 
}
.enquirybutton:hover::after{
    width: 0%;
}
.navlogo{
    width: 120px;
    padding-left: 30px;
    margin-top: 7px;
}
.close{
    width: 15px;
}
.open{
    width: 20px;
}
.open{
    display: none;
}
.close{
    display: none;
}
@media(max-width: 500px){
    html, body{
        overflow-x: hidden;
    }
    p.heroexp{
        width: 100%;
    }
    .navLinks ul li{
        display: block;
    }
    .navLinks{
        position: absolute;
        background: #D9F1FF;
        height: 50vh;
        width: 200px;
        top: 0;
        right: -220px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .close{
        display: block;
        margin: 15px;
        cursor: pointer;
    }
    .open{
        display: block;
        margin: 15px;
        cursor: pointer;
    }
    .navlogo{
        width: 120px;
    }
    .navLinks ul{
        padding: 15px;

    }
}
@media(max-width: 864px){
  html, body{
      overflow-x: hidden;
  }
  p.heroexp{
      width: 100%;
  }
  .navLinks ul li{
      display: block;
  }
  .navLinks{
      position: absolute;
      background: #D9F1FF;
      height: 50vh;
      width: 200px;
      top: 0;
      right: -220px;
      text-align: left;
      z-index: 2;
      transition: 1s;
  }
  .close{
      display: block;
      margin: 15px;
      cursor: pointer;
  }
  .open{
      display: block;
      margin: 15px;
      cursor: pointer;
  }
  .navlogo{
      width: 120px;
  }
  .navLinks ul{
      padding: 15px;

  }
}

@media(max-width: 1280px){
  html, body{
      overflow-x: hidden;
  }
  p.heroexp{
      width: 100%;
  }
  .navLinks ul li{
      display: block;
  }
  .navLinks{
      position: absolute;
      background: #D9F1FF;
      height: 50vh;
      width: 200px;
      top: 0;
      right: -220px;
      text-align: left;
      z-index: 2;
      transition: 1s;
  }
  .close{
      display: block;
      margin: 15px;
      cursor: pointer;
  }
  .open{
      display: block;
      margin: 15px;
      cursor: pointer;
  }
  .navlogo{
      width: 120px;
  }
  .navLinks ul{
      padding: 15px;

  }
}


.about{
    width: 100%;
    
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
    grid-template-rows: min-content;   
    margin-block: 5%;
}
.about::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../images/bg-1.jpg);
    background-position: center;
    background-size: cover;
    z-index: -10;
}
.sectionheading{
    color: #264067;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    margin: 2% 0% 2% 0%;
}
h2.sectionheading{
    color: #264067;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    margin: 2% 0% 2% 0%;
}
.aboutcontentholder{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutimgholder{
    width: 50%;
    height: 510px;
    margin: 1%;
    overflow: hidden;
    
}
.aboutimgholder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.aboutcard{
    width: 50%;
    margin: 1%;
    background: #D9F1FF;
   /* background-color: #ffffff; */
    display: grid;
    justify-items: center;
    align-items: center;
    
   

}
.aboutcard p{
    width: 90%;
    font-size: 16px;
    text-align: justify;
    margin: 1% 0% 1% 0%;
    color: #264067;
}
.aboutcard h3{
    text-align: left;
    width: 90%;
    color: #264067;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    margin: 2% 0% 2% 0%;
}
a{
    text-decoration: none;
    margin: 5% 1% 5% 1%;
    white-space: nowrap;
}
.cta{
    width: 150px;
    height: 50px;
    color: white;
    background: #D30505;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 30px;
    
    border: none;
    cursor: pointer;
}
.cta:hover{
    color: #D30505;
    background: none;
    border: #D30505 1px solid;
}
@media(max-width: 500px){
    .aboutcontentholder{
        /* display: grid; */
        /* justify-items: center; */
        flex-direction: column;

    }
    .aboutimgholder{
        width: 90%;
        height: 100%;
    }
    .aboutcard{
        width: 90%;
    }
    .aboutcard h3{
        font-size: 25px;
    }

}
@media (min-width: 501px) and (max-width: 864px){
    .aboutcontentholder{
        
        flex-direction: column;
    }
    .aboutimgholder{
        /* width: 90%; */
        height: 100%;
    }
    .aboutcard{
        width: 90%;
    }
    .aboutcard h3{
        font-size: 35px;
    }

}
@media (min-width: 865px) and (max-width: 1280px){
    .aboutcontentholder{
        /* display: grid; */
        /* justify-items: center; */
        flex-direction: column;
    }
    .aboutimgholder{
        width: 40%;
        height: 100%;
    }
    .aboutcard{
        width: 90%;
    }
    .aboutcard h3{
        font-size: 35px;
    }

}

section.product{
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}

.productsholder{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.productimgholder{
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    /* margin: 1%; */
    box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.50);
    
}
.productimgholder img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease-in-out; /* Apply the transition to the transform property */
    transform: scale(1); /* Initial scale */
}
.productimgholder img:hover{
    transform: scale(1.1); /* Zoom in on hover */
}
.productcontentholder{
    display: grid;
    align-items: center;
    justify-items: center;
    width: 45%;
    margin: 1%;
}
.productcontentholder a{
    /* color: #264067; */
    font-size: 0px;
    /* font-weight: 500;
    transition: .5s ease-in-out; */
}
/* .productcontentholder a:hover{
    text-decoration: underline;
    font-weight: 600;
    transition: .5s ease-in-out;
} */
.product-heading{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: #264067;
    margin-top: 30px;
    white-space: break-spaces;
    transition: .5s all ;
}
.productimgholder:hover + .product-heading{
    font-weight: 600;    
    /* text-decoration: underline; */
    letter-spacing: 2px;
}
/* .productdes{
    width: 90%;
    background: #D9F1FF;
    display: grid;
    align-items: center;
    justify-items: center;
}
.productdes ul{
    width: 90%;
    margin: 2% 0% 2% 0%;
}
.productdes ul li{
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #264067;
}
.additional-details{
    color: white;
}
.additional-details table{
    background-color: #264067;
    color: white;
}

.additional-details table td{
    padding: 10px;
} */
@media (max-width: 500px){
    .productsholder{
        width: 100%;
        flex-direction: column;
    }
    .productcontentholder{
        width: 90%;
    }
    /* .productdes ul li{
        font-size: 0.8rem;
    } */
}
@media (min-width: 501px) and (max-width: 864px){
    .productsholder{
        width: 100%;
        flex-direction: column;
    }
    .productcontentholder{
        width: 90%;
    }
}
@media (min-width: 865px) and (max-width: 1280px){
    .productsholder{
        width: 80%;
        flex-direction: column;
    }
    .productcontentholder{
        width: 90%;
    }
}



.cover{
    margin-inline: auto;
    /* width: 90%; */
}
.cover h1{
    color: #264067;
    font-size: 2.2rem;
}
.coverimgholder{
    /* background: url('/images/istockphoto-1337210627-612x612.jpg'); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    display: flex;
    /* justify-items: center; */
    
}
.covercontent{
    width: 60%;
    margin-inline: auto;
    padding-inline: 5%;
}
.cover .img-wrapper img{
    width: 100%;
    height: 100%;
    /* aspect-ratio: 1/1; */
    object-fit: cover;
}
.cover .img-wrapper{
    width: 60%;
    font-size: 0;
}
.why-choose-us{
    padding-block: 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.why-choose-us .item{
    width: 100%;
    min-width: 200px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(190, 189, 189);
    border-radius: 20px;
}
.why-choose-heading{
    display: flex;
    flex-direction: row;
    align-items: center;   
    gap: 30px;
}

.why-choose-points{
    /* margin-left: 30px; */
    /* margin-top: 20px; */
}
.why-choose-points ul{
    padding-left: 20px;
}
.why-choose-points li{
    display: list-item;
    padding: 0;
    font-size: 16px;
    margin-block: 5px;
    list-style: circle;
}
.why-choose-us .item img{
    width: 60px;
    height: 60px;
}
.why-choose-us .item span{
    font-size: 1.2rem;
    color: #264067;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
    
    /* margin-left: 10px; */
}
.buttonholder{
    display: flex;
    align-items: center;
}
@media (max-width:1200px) {
  .coverimgholder{
    flex-direction: column;
  }
  .cover .img-wrapper{
    width: 100%;
    height: 400px;
  }
  .covercontent{
    width: 90%;
    margin-inline: auto;
  }
  .why-choose-us{
    justify-content: center;
  }
  .buttonholder{
    justify-content: center;
  }   
}
@media (max-width:500px) {
    .cover h1{
        font-size: 1.6rem;
    }
   }
@media (max-width:550px) {
    .why-choose-heading{
        flex-direction: column;
    }
    .why-choose-us .item span{
        text-align: center;
    }
}
/* facility / gallery section */
.facility-section{
    margin-block: 10%;
    text-align: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    max-width: 1000px;
    margin: auto;
}

.gallery-item {
    width: calc(33.333% - 20px);
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery-item:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .gallery-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .gallery-item {
        width: 100%;
    }
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 160px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

@media (max-width: 768px) {
    .lightbox-content {
        width: 90%;
    }
}

.caption {
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: auto;
}

.close {
    position: absolute;
    top: 100px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* gallery section end */


/* Add styling for the testimonials carousel controls and indicators */
.testimonials{
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
    width: 100%;
}
.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    overflow: hidden;
    width: 90%;
    
}

.testimonial {
    text-align: center;
    width: 300px;
    padding: 20px;
    background-color: #D9F1FF;
    margin: 0 10px;
    display: none;
    transition: opacity 0.5s;
}

.testimonial.active {
    display: block;
}
.t-prev{
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translate(-50%);
    color: #264067;
    cursor: pointer;
}
.t-next{
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(-50%);
    color: #264067;
    font-size: 18px;
    cursor: pointer;
}

footer{
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    background: #D9F1FF;
}
.footerlogo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D9F1FF;
}
.footerlogo img{
    width: 350px;
}
.footercardholder{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 2%;
}
.footercard{
    width: 30%;
    height: 200px;
    display: grid;
    align-items: center;
    justify-items: center;
    background: #ffffff;
    margin: 1%;
}
.footercard img{
    width: 50px;
    margin: 2% 0% 2% 0%;

}
.footercard a{
    font-size: 20px;
    font-weight: 600;
    color: #264067;
    transition: .3s ease-in;
    margin: 2% 0% 2% 0%;
}
.footercard a:hover{
    color: #D30505;
    text-decoration: underline solid #D30505;
    transition: .3s ease-out;
}
@media (max-width: 500px){
    .footercardholder{
        width: 100%;
        display: grid;
        justify-items: center;
    }
    .footercard{
        width: 200%;
        margin: 2%;
        height: 200px;
    }
}
@media (min-width: 865px) and (max-width: 1280px){
    
}
@media (min-width: 865px) and (max-width: 1280px){
    
}




.copyright{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #264067;
}
.copyright p{
    color: white;
    width: 90%;
    margin: 2%;
    text-align: center;
    font-size: 20px;
}
.copyright p a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}






